<html>
<head>
    <title>Descarga Local</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<style>
	@import url(http://fonts.googleapis.com/css?family=Amatic+SC:700);
	 
	body{
	    text-align: center;    
	}
	h1{
	    font-family: 'Amatic SC', cursive;
	    font-weight: normal;
	    color: #8ac640;
	    font-size: 2.5em;
	}
	</style>
</head>

<body>
	{% block body %}{% endblock %}
</body>

</html>
