asn1crypto==0.24.0
cffi==1.11.5
Click==7.0
cryptography==3.2
Flask==1.0.2
Flask-Cache==0.13.1
Flask-Cors==3.0.7
idna==2.7
imutils==0.5.2
itsdangerous==1.1.0
jderobot-config==0.1.1
jderobot-interfaces-python==0.1.5
jderobot-interfaces-kibotics==0.1.1
Jinja2==2.10
MarkupSafe==1.1.0
numpy==1.16.0
opencv-python==3.4.4.19
picamera==1.13
pigpio==1.42
pycparser==2.19
pyOpenSSL==18.0.0
PyYAML==3.13
RPi.GPIO==0.6.5
six==1.11.0
Werkzeug==0.14.1
